<div class="container">
  <header class="header">
    <h1>Система тестирования</h1>

  </header>

  <div class="user-info">
    @if (username){<span>Имя пользователя: {{ username }}</span>
    <span class="button-exit">
      <button (click)="logout()">Выйти</button>
    </span>
    }
  </div>
  
  <aside class="sidebar">
    <nav>
      <ul>
        <li><a [routerLink]="['']">Главная</a></li>
        <li><a [routerLink]="['/login']">Авторизация</a></li>
      </ul>
    </nav>
  </aside>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
